{
 "target" : "pi32v2",
 "chip": "br28",
 "proj" : "br28_rom",
 
 "ptl" :  // protocol
 {
	"ver": 2, // debug protocol version
    "loader": // information of loaders
    {
        "file": "loader_jtag.bin", // loader name
        "loader_addr": 0x120000,   // address of loader debug_stack 0xf00100
        "loader_info": 0x124000,
        "cpukey_addr": 0x128000    // address of cpu-key
    },
    "download":
    {
        "script": "download_jtag.bat" // batch file to download
    },
				//  core0,    core1
	"bpcon": 	 [0xffe080, 0xffe880],	// running ?	
	"bsp":   	 [0xffe084, 0xffe884],	// debug sp
	"cmd_pause": [0xffe098, 0xffe898],	// running ?
    "reset_addr": 0x120002, // 下载 loader 前，复位后需要断点的地方,uboot的一个固定地址的函数的入口地址，wait_if_breakpoint
    "pwrcon": 0xf2c280,  // 用于控制软复位
    "pwrcon_bit": 4,     // 复位需要改的位
	"reset_fun": {
		"content": "c0ff80c20000ef1000", // r0 = 0x10036 ;; goto r0
		"addr"   : 0x180800
	},
	"bp": [				// hardware breakpoints
		// core0  ,  core1
		[0xffe088, 0xffe888],	// bp0
		[0xffe08c, 0xffe88c],	// bp1
		[0xffe090, 0xffe890],	// bp2
		[0xffe094, 0xffe894],	// bp3
		[0xffe09c, 0xffe89c],	// bp4
		[0xffe0a0, 0xffe8a0],	// bp5
		[0xffe0a4, 0xffe8a4],	// bp6
		[0xffe0a8, 0xffe8a8]	// bp7
	],
	"etm": [ // memory tracing
		{
			// CORE 0
			"con": 0xffe1c0,
			"wp": [
				// watch point 0
				{"addrh": 0xffe1d4, "addrl": 0xffe1d8,
				 "datah": 0xffe1dc, "datal": 0xffe1e0,
				 "pc"   : 0xffe1e4}
			],
			"trace": [
				0xffe1d0,	//ETM_PC3
				0xffe1cc,	//ETM_PC2
				0xffe1c8,	//ETM_PC1
				0xffe1c4,	//ETM_PC0
				0xffe1c0,	//ETM_CON
				0xffe200,	//EMU_CON
				0xffe204,	//EMU_MSG
				0xffe208,	//EMU_SSP_H
				0xffe20c,	//EMU_SSP_L
				0xffe210,	//EMU_USP_H
				0xffe214,	//EMU_USP_L
				0xffe218,	//LIM_PC0_H
				0xffe21c,	//LIM_PC0_L
				0xffe220,	//LIM_PC1_H
				0xffe224,	//LIM_PC1_L
				0xffe228,	//LIM_PC2_H
				0xffe22c,	//LIM_PC2_L
				0xff0214,	//CEMU_MSG0
				0xff0218,	//CEMU_MSG1
				0xff021c,	//CEMU_MSG2
				0xff0220,	//CEMU_MSG3
				0xff0224,	//CEMU_ID
				0xfe0014,	//HEMU_MSG1
				0xfe0018,	//HEMU_MSG2
				0xfe001c,	//HEMU_MSG3
				0xfe0020,	//HEMU_MSG4
				0xfe0024,	//HEMU_ID
				0xfd0314,	//LEMU_MSG1
				0xfd0318,	//LEMU_MSG2
				0xfd031c,	//LEMU_MSG3
				0xfd0320,	//LEMU_MSG4
				0xfd0324 	//LEMU_ID
			]
		},
		{
			// CORE 1
			"con": 0xffe9c0,
			"wp": [
				// watch point 0
				{"addrh": 0xffe9d4, "addrl": 0xffe9d8,
				 "datah": 0xffe9dc, "datal": 0xffe9e0,
				 "pc"   : 0xffe9e4}
			],
			"trace": [
				0xffe9d0,	//ETM_PC3
				0xffe9cc,	//ETM_PC2
				0xffe9c8,	//ETM_PC1
				0xffe9c4,	//ETM_PC0
				0xffe9c0,	//ETM_CON
				0xffea00,	//EMU_CON
				0xffea04,	//EMU_MSG
				0xffea08,	//EMU_SSP_H
				0xffea0c,	//EMU_SSP_L
				0xffea10,	//EMU_USP_H
				0xffea14,	//EMU_USP_L
				0xffea18,	//LIM_PC0_H
				0xffea1c,	//LIM_PC0_L
				0xffea20,	//LIM_PC1_H
				0xffea24,	//LIM_PC1_L
				0xffea28,	//LIM_PC2_H
				0xffea2c,	//LIM_PC2_L
				0xff0214,	//CEMU_MSG0
				0xff0218,	//CEMU_MSG1
				0xff021c,	//CEMU_MSG2
				0xff0220,	//CEMU_MSG3
				0xff0224,	//CEMU_ID
				0xfe0014,	//HEMU_MSG1
				0xfe0018,	//HEMU_MSG2
				0xfe001c,	//HEMU_MSG3
				0xfe0020,	//HEMU_MSG4
				0xfe0024,	//HEMU_ID
				0xfd0314,	//LEMU_MSG1
				0xfd0318,	//LEMU_MSG2
				0xfd031c,	//LEMU_MSG3
				0xfd0320,	//LEMU_MSG4
				0xfd0324 	//LEMU_ID
			]
		}
	],
	
	"rw": [				// read-write regions
		//[0x0000000, 0x10000]
	],

	"ro": [				// read-only regions		
		[0, 0x7fffffff]
	],
 
  

	"regs": {
		"count": 32,
		"info":
			[	// register mappings
				// "i" index of dwarf number
				// "o" offset in stack
				// "m" mapping to memory address
							//   core0,    core1
				{"i":  0, "m": [0xffe000, 0xffe800], "o":   0, "n":   "r0"},
				{"i":  1, "m": [0xffe004, 0xffe804], "o":   4, "n":   "r1"},
				{"i":  2, "m": [0xffe008, 0xffe808], "o":   8, "n":   "r2"},
				{"i":  3, "m": [0xffe00c, 0xffe80c], "o":  12, "n":   "r3"},
				{"i":  4, "m": [0xffe010, 0xffe810], "o":  16, "n":   "r4"},
				{"i":  5, "m": [0xffe014, 0xffe814], "o":  20, "n":   "r5"},
				{"i":  6, "m": [0xffe018, 0xffe818], "o":  24, "n":   "r6"},
				{"i":  7, "m": [0xffe01c, 0xffe81c], "o":  28, "n":   "r7"},
				{"i":  8, "m": [0xffe020, 0xffe820], "o":  32, "n":   "r8"},
				{"i":  9, "m": [0xffe024, 0xffe824], "o":  36, "n":   "r9"},
				{"i": 10, "m": [0xffe028, 0xffe828], "o":  40, "n":  "r10"},
				{"i": 11, "m": [0xffe02c, 0xffe82c], "o":  44, "n":  "r11"},
				{"i": 12, "m": [0xffe030, 0xffe830], "o":  48, "n":  "r12"},
				{"i": 13, "m": [0xffe034, 0xffe834], "o":  52, "n":  "r13"},
				{"i": 14, "m": [0xffe038, 0xffe838], "o":  56, "n":  "r14"},
				{"i": 15, "m": [0xffe03c, 0xffe83c], "o":  60, "n":  "r15"},
				// sfr            ff        ff  
				{"i": 16, "m": [0xffe040, 0xffe840], "o":  64, "n": "reti"},
				{"i": 17, "m": [0xffe044, 0xffe844], "o":  68, "n": "rete"},
				{"i": 18, "m": [0xffe048, 0xffe848], "o":  72, "n": "retx"},
				{"i": 19, "m": [0xffe04c, 0xffe84c], "o":  76, "n": "rets"},
				{"i": 20, "m": [0xffe050, 0xffe850], "o":  80, "n":  "sr4"},
				{"i": 21, "m": [0xffe054, 0xffe854], "o":  84, "n":  "psr"},
				{"i": 22, "m": [0xffe058, 0xffe858], "o":  88, "n": "cnum"},
				{"i": 23, "m": [0xffe05c, 0xffe85c], "o":  92, "n":  "sr7"},
				{"i": 24, "m": [0xffe060, 0xffe860], "o":  96, "n":  "sr8"},
				{"i": 25, "m": [0xffe064, 0xffe864], "o": 100, "n":  "sr9"},
				{"i": 26, "m": [0xffe068, 0xffe868], "o": 104, "n": "sr10"},
				{"i": 27, "m": [0xffe06c, 0xffe86c], "o": 108, "n": "icfg"},
				{"i": 28, "m": [0xffe070, 0xffe870], "o": 112, "n":  "usp"},
				{"i": 29, "m": [0xffe074, 0xffe874], "o": 116, "n":  "ssp"},
				{"i": 30, "m": [0xffe078, 0xffe878], "o": 120, "n":   "sp"},
				{"i": 31, "m": [0xffe07c, 0xffe87c], "o":  68, "n":   "pc"}

			]
	}
 }
}
